# dependencies
node_modules/

# local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# Native keys and builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.kotlin/
mobile/ios/
mobile/android/

# Metro
.metro-health-check*

# debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs and OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend / Database
backend/prisma/*.db
backend/prisma/*.db-journal
